 @page
@model ReenbitMessenger.Pages.ChooseUserModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="~/css/ChooseUser.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>



<body>
    
   <div class="bg_ellipse_1"></div>
   <div class="bg_ellipse_2"></div>
   <div class="bg_ellipse_3"></div>

   


    <div class="main-container">
        <h1>Please choose your account</h1>
        <div class="sub-container"> 
        <div class="accounts_list custom-scrollbar">
        

            @foreach (var item in Model.Users)
            {
                <div class="single_account">
                
                    <img src="~/user_avatars/@item.UserAvatarImage">
                  
                    <p class="single_account_name">@item.Name @item.Surname</p>
                   
                    
                    <form asp-page-handler="login" method="post">
                    <input name="id" value="@item.Id" hidden>
                    <button class="login_button">Sign in</button>
                    </form>
                </div>
            }
            
        </div>
        <img src="~/layout_images/heart.png" class="heart"/>
        </div>
    </div>
    
</body>